@* _Footer.cshtml *@

    <!-- Footer Section -->
    <footer>
        <div class="footer-content">
            <img class="footer-content-img"src="/media/footerLogo.png" alt="logo">
            <div class="footer-text">
                <h3 class="footer-logo display-5">World Kitchen</h3>
                <p class="footer-slogan">The best place to learn how to cook international dishies</p>
            </div>
        </div>
    </footer>
