@model WorldKitchen.Models.BigViewModel
@{
        Layout = "/Views/Shared/_LayoutDish.cshtml";
}

@if (Model.DishTable != null)
{
            @foreach (var itemD in Model.DishTable)
            {
            <h1> @itemD.Name</h1>
            }
}
