@model WorldKitchen.Models.BigViewModel
@{
        Layout = "/Views/Shared/_LayoutDishies.cshtml";
}

@if (Model.DishiesTable != null)
{
            @foreach (var itemD in Model.DishiesTable)
            {
            <h1> @itemD.Name</h1>
            }
}
