@{
    ViewData["Title"] = "Privacolicy";
    Layout = "/Views/Shared/_LayoutCountry.cshtml";
}
<h1>@ViewData["Title"]</h1>

<p>it is Armenia</p>
<a href="http://localhost:5115/france"> france </a>


