@model IEnumerable<WorldKitchen.Models.DatabaseWorldKitchenDishies>


@{
    ViewData["Title"] = "Country Details";
    Layout = "/Views/Shared/_LayoutCountry.cshtml";
}


    <h1>France page view</h1>

