@model WorldKitchen.Models.BigViewModel
@{
    ViewData["Title"] = "Home Page";
}


<div class="bigContainer">
  <!-- First part -->
  <h1 class="display-4 bold">Welcome to Worldkitchen</h1>
  <p class = "blockquote">It is the best place to learn </br>how 
to cook international dishies 😎</p>
  <div class="aboutUs">
    <p class="aboutUsText">Made by 3 friends</br> making the website </br>of their dream</p>
   <img class="imageOfUs" src="/media/imageOfUs.png">
  </div>

<h2 class="display-6 bold">How it work ?</h2>
<div class="mb-3">
<div class ="showCountry">
    <h2 class="display-7 middleGreen">Choose by Country</h2>  
    <p class="greenLime"> First choose a country you want to learn a dish !</p>
                 <div class="flagCountry">

@if (Model.CountryTable != null)
{
            @foreach (var d in Model.CountryTable)
            {
                <div>
                    <img class="showCountryFlag" src="@d.Flag">
                    <p class="flagCountryElement greenLime">@d.Country</p>

                </div>
            }
}
                 </div>
</div>
  </div>

<div class="showChooseDish">
  <h2 class="display-7 middleGreen">Choose your dishies</h2>  
    <p class="greenLime">After you choose you country</br>- you will have some basic</br>info about the country</br>Now choose the dishies you </br>want to try. </p>


</div>

</div>
